<% include header %>
<div class="main_content">
  <div class='main_weibo'>
    <table class="tblcontainer ui-corner-all" width="100%" border="0" cellpadding="4" cellspacing="2">
      <thead>
        <tr align="center" class="ui-widget-header">
          <th colspan="2" style="height: 45px; ">公告栏</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < 8; i++) { %>
          <tr>
            <% if (i < notices.length) { %>
              <td style="height: 31px; "><a href="<%= notices[i].url %>"><%= notices[i].title %></a></td>
              <td width="30%" style="text-align:right; "><%= notices[i].date %></td>
            <% } else { %>
              <td style="height: 31px; "><br/></td>
              <td><br/></td>
            <% } %>
          </tr>
        <% } %>
      <tbody>
    </table>
  </div>
  <div class="main_news">
    <img src="/sicily/images/logo.jpg" />
  </div>
</div>
<script type="text/javascript">
  $(function () {
    var talkmsg = "Hello, World!";
    showSicilyChan(talkmsg);
  });
</script>
<% include footer %>
