<% include header %>
<div class="background_container">
    <div class="ui-corner-all ui-widget-content">
        <table width="900" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="300" height="100" bgcolor="#F0F0F0" style="padding: 0; border-bottom: 0; "><img src="/sicily/images/register_01.jpg" width="300" height="100"></td>
                <td rowspan="3" align="center" valign="top" background="/sicily/images/register_02.jpg" style="padding: 0em; ">
                    <br>
                    <br>
                    <br>
                    <br>
                    <form action="javascript:submit();" id="setting_form">
                        <table class="tblcontainer ui-widget-content ui-corner-all ui-widget" border="0" cellpadding="4" cellspacing="2">
                            <tr>
                                <th class="ui-widget-header" height="20" colspan="2" align="center"><b>注册新用户</b></th>
                            </tr>
                            <tr>
                                <td width="130" height="20" align="right">用户名 &nbsp;</td>
                                <td width="220" align="left">&nbsp;
                                    <input type="text" id="user_name" size="30" maxlength="30">
                                </td>
                            </tr>
                            <tr>
                                <td height="20" align="right">密码 &nbsp;</td>
                                <td align="left">&nbsp;
                                    <input type="password" id="password1" size="30" maxlength="20">
                                </td>
                            </tr>
                            <tr>
                                <td height="20" align="right">确认密码 &nbsp;</td>
                                <td align="left">&nbsp;
                                    <input type="password" id="password2" size="30" maxlength="20">
                                </td>
                            </tr>
                            <tr>
                                <td width="130" height="20" align="right">电子邮箱 &nbsp;</td>
                                <td width="220" align="left">&nbsp;
                                    <input type="email" id="email" size="30" maxlength="30">
                                </td>
                            </tr>
                            <tr align="center">
                                <td height="20" colspan="2" align="center">
                                    <input type="submit" name="addsub" size="20">
                                    <div class="ui-state-error ui-widget ui-corner-all" id="error" data-am-alert hidden>
                                        <p id="error_info"></p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td height="282" bgcolor="#F0F0F0" style="padding: 0; border-bottom: 0; "><img src="/sicily/images/register_03.jpg" width="300" height="282"></td>
            </tr>
            <tr>
                <td height="100" bgcolor="#F0F0F0" style="padding: 0; "><img src="/sicily/images/register_04.jpg" width="300" height="100"></td>
            </tr>
        </table>
    </div>
</div>
<script src="<%- lib('blueimp-md5/2.10.0/js/md5.min.js') %>"></script>
<script type="text/javascript">
function show_error(error) {
    $("#error_info").text(error);
    $("#error").show();
}

function reg_success() {
    alert("注册成功！");
    window.location.href = location.protocol + '//' + location.host + <%- serializejs(req.query.url || '/') %>;
}

function mail_required() {
    alert("注册确认邮件已经发送到您的邮箱的垃圾箱，点击邮件内的链接即可完成注册。");
    var s = $("#email").val();
    var mailWebsite = 'https://mail.' + s.substring(s.indexOf('@') + 1, s.length);
    if (mailWebsite === 'https://mail.gmail.com') mailWebsite = 'https://mail.google.com';
    window.location.href = mailWebsite;
}

function submit() {
    if ($("#password1").val() != $("#password2").val()) {
        show_error("两次输入的密码不一致");
        return;
    }
    password = md5($("#password1").val() + "syzoj2_xxx")
    $("#sign_up").addClass("loading");
    $.ajax({
        url: '/api/sign_up',
        type: 'POST',
        async: true,
        data: {
          username: $("#user_name").val(),
          password: password,
          email: $("#email").val(),
          prevUrl: <%- serializejs(req.query.url || '/') %>
        },
        success: function(data) {
            error_code = data.error_code;
            switch(error_code){
                case 2001:
                    show_error("服务器未收到数据");
                    break;
                case 2005:
                case 2002:
                    show_error("用户名需要大于 3 个字符小于 16 个字符，仅允许字母数字和下划线");
                    break;
                case 2007:
                case 2003:
                    show_error("密码不得为空");
                    break;
                case 2004:
                case 2006:
                    show_error("请输入正确的邮箱");
                    break;
                case 2008:
                    show_error("已经有人用过这个用户名了");
                    break;
                case 2009:
                    show_error("邮箱地址已被占用");
                    break;
                case 2010:
                    show_error("验证邮件发送失败：\n" + data.message);
                    break;
                case 1:
                    reg_success();
                    break;
                case 2:
                    mail_required();
                    break;
                default:
                    show_error("未知错误：" + JSON.stringify(data));
                    break;
            }
            $("#sign_up").removeClass("loading");
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            alert(XMLHttpRequest.responseText);
            show_error("未知错误");
            $("#sign_up").removeClass("loading");
        }
    });
}
</script>
<% include footer %>
