<script>
Vue.component('status-label', {
  template: '#statusIconTemplate',
  props: ['status', 'indetail', 'progress'],
  computed: {
    colorClass() {
      var x = this.status.startsWith('Running') ? 'Running' : this.status;
      return (this.indetail ? 'status_detail ' : '') + x.toLowerCase().split(' ').join('_');
    },
    displayStatus() {
      return this.status.startsWith('Running') ? 'Running' : this.status;
    },
    getProgress() {
      if (this.status.startsWith('Running ')) {
        var tmp = this.status.split(' ')[1].trim().split('/');
        return { total: tmp[1], finished: tmp[0] };
      }
      return this.progress;
    }
  }
})
</script>
<script type="text/x-template" id="statusIconTemplate">
  <span class="status" :class="colorClass">
    <template v-if="['Running', 'Waiting'].includes(displayStatus) && getProgress && getProgress.total">
      <span style="text-align: left; display: inline-block; width: 58px; ">{{ displayStatus }}</span>{{getProgress.finished }}/{{ getProgress.total }}
    </template>
    <template v-else>
      {{ displayStatus }}
    </template>
  </span>
</script>
